extends layout.pug

block scripts
    script(src="javascripts/index.client.js")

block content
    .maincontent
      div#loaderWindow.modal.fade.bd-example-modal-lg(data-backdrop="static" data-keyboard="false" tabindex="-1")
        .modal-dialog.modal-sm.text-center
          .modal-content.m-2.p-3.text-center(style="width: 350px;color:#000;background-color:#ddd" align="center")
            div#loader.loader(style="margin-left:140px;")
            |Please wait while we attach your pastebin to the tangle... 
            // br
            // button#btnCloseLoaderPastebin.btn.btn-primary(type='button', data-toggle='tt_cancel', title='Cancel.') Close
      .container
        .row.text-center
          .col-md-12
            h2.mt-5 IOTA Pastebin
            p.lead Paste your code snippets securely on the IOTA-Tangle.
        .row
          .col-md-12
            .input-group
              textarea#txtSoure.form-control(rows='15' maxlength='5000')
        .row.pt-2.pb-5
          .col-md-12
            .input-group
              .input-group-prepend
                button#btnRestrictionType.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Public
                .dropdown-menu
                  a#setpublic.dropdown-item(href='#') Public
                  //a#setrestricted.dropdown-item(href='#') Restricted
              input#txtTitle.form-control(placeholder='Name, title, ...', type='text')
              input#pwdSidekey.form-control(placeholder='Password...', type='password')
              .input-group-append
                button#btnSyntaxhighlightType.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Syntax?
                .dropdown-menu
                  a#sh_bash.dropdown-item(href='#') BASH
                  a#sh_c.dropdown-item(href='#') C
                  a#sh_cs.dropdown-item(href='#') C#
                  a#sh_cpp.dropdown-item(href='#') C++
                  a#sh_java.dropdown-item(href='#') Java
                  a#sh_css.dropdown-item(href='#') CSS
                  a#sh_html.dropdown-item(href='#') HTML
                  a#sh_javascript.dropdown-item(href='#') JavaScript
                  a#sh_apache.dropdown-item(href='#') Apache
                  a#sh_armasm.dropdown-item(href='#') Assembler
                  a#sh_diff.dropdown-item(href='#') DIFF
                  a#sh_json.dropdown-item(href='#') JSON
                  a#sh_default.dropdown-item(href='#') Default
              .input-group-append
                button#btnCreatePastebin.btn.btn-primary(type='button', data-toggle='tt_send', title='Create new paste.') Create
        .row.mb-5
          .col-md-12.box
            .bg-light.border.rounded.fix-height-165.inner-box
              h5.text-center Attach to Tangle (Pow)
              span We're using our own node for pow, so please be patient while submitting. This can take up to ~120 seconds. In future we will upgrade our server or switch to field.
          .col-md-6.box
            .bg-light.border.rounded.fix-height-165.inner-box
              h5.text-center Supported Languages
              span BASH, C, C#, Java, CSS, HTML, JavaScript, Apache, Assembler, DIFF, JSON. More coming in future.
          .col-md-6.box
            .bg-light.border.rounded.fix-height-165.inner-box
              h5.text-center Tangle-Paste (Pastebin)
              span With tangle-paste you can store anonymously and decentralized text and code-snippets on the IOTA-Tangle.
              br
              | Secure, anonymously, decentralized, independant, ...
        .row.mb-5
          .col-md-12.box
            .bg-light.border.rounded.fix-height-165.inner-box
              h5.text-center Statistics
              span Pastebins:&nbsp;
              span= pasteCnt
              span &nbsp;(since july 2018)
        



