extends layout.pug

block scripts
    script(src="javascripts/index.client.js")

block content
    .maincontent
      div#loaderWindow.modal.fade.bd-example-modal-lg(data-backdrop="static" data-keyboard="false" tabindex="-1")
        .modal-dialog.modal-sm.text-center
          .modal-content.text-center(style="width: 250px" align="center")
            div#loader.loader(style="margin-left:105px")
            |Please wait while we push your pastebin to the tangle...
      .container
        .row.text-center
          .col-md-12
            h2.mt-5 IOTA Pastebin
            p.lead Paste your code snippets securely on the IOTA-Tangle.
        .row
          .col-md-12
            .input-group
              textarea#txtSoure.form-control(rows='15')
        .row.pt-2
          .col-md-12
            .input-group
              .input-group-prepend
                button#btnRestrictionType.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Public
                .dropdown-menu
                  a#setpublic.dropdown-item(href='#') Public
                  a#setrestricted.dropdown-item(href='#') Restricted
              input#txtTitle.form-control(placeholder='Name, title, ...', type='text')
              input#pwdSidekey.form-control(placeholder='Password...', type='password')
              .input-group-append
                button#btnSyntaxhighlightType.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Syntaxhighlighting?
                .dropdown-menu
                  a#sh_bash.dropdown-item(href='#') BASH
                  a#sh_c.dropdown-item(href='#') C
                  a#sh_cs.dropdown-item(href='#') C#
                  a#sh_cpp.dropdown-item(href='#') C++
                  a#sh_java.dropdown-item(href='#') Java
                  a#sh_css.dropdown-item(href='#') CSS
                  a#sh_html.dropdown-item(href='#') HTML
                  a#sh_javascript.dropdown-item(href='#') JavaScript
                  a#sh_apache.dropdown-item(href='#') Apache
                  a#sh_armasm.dropdown-item(href='#') Assembler
                  a#sh_diff.dropdown-item(href='#') DIFF
                  a#sh_default.dropdown-item(href='#') Default
              .input-group-append
                button#btnCreatePastebin.btn.btn-primary(type='button', data-toggle='tt_send', title='Create new paste.') Create Paste
