extends layout.pug

block content
    .maincontent
      .container
        .row.text-center
          .col-md-12
            h2.mt-5= title        
        .row
          .col-md-12            
              div#source.border= source