extends layout.pug

block scripts
    script(src="iota.lib.js/dist/iota.min.js")
    script(src="javascripts/pastebin.client.js")
    link(rel="stylesheet" href="/highlighter/styles/default.css")
    script(src="/highlighter/highlight.pack.js")
   
block content
    .maincontent
      #loader.mt-5(align='center')
        .loader
        | Please wait while we fetch the pastebin from tangle...
      .container
        .row.text-center
          .col-md-12
            h2#pasteBinTitle.mt-5
        .row
          .col-md-12
            pre
              code#pasteBinSource
        .row
          .col-md-12.box
            .bg-light.border.rounded.fix-height-165.inner-box.wrapword
              h5.text-center Original-URL with your root-address
              span#pasteBinUrl.copy
        .row
         .col-md-12.box
            .bg-light.border.rounded.fix-height-165.inner-box.wrapword
              h5.text-center Shortened-URL
              span#pasteBinShortenedUrl.copy
            